@font-face {
  font-family: "iconfont"; /* Project id 2858620 */
  src: url('iconfont.woff2?t=1637764929699') format('woff2'),
       url('iconfont.woff?t=1637764929699') format('woff'),
       url('iconfont.ttf?t=1637764929699') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipinbofang:before {
  content: "\e601";
}

.icon-shipin:before {
  content: "\e63d";
}

.icon-dingwei:before {
  content: "\e614";
}

.icon-tuceng:before {
  content: "\e709";
}

.icon-quanping:before {
  content: "\e683";
}

.icon-quanxian:before {
  content: "\e618";
}

.icon-xiangji:before {
  content: "\e6ac";
}

.icon-yulan:before {
  content: "\e852";
}

.icon-cuowu:before {
  content: "\e600";
}

.icon-ceshi:before {
  content: "\e8ad";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-tongji:before {
  content: "\e846";
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-ditu:before {
  content: "\e63c";
}

.icon-ditu1:before {
  content: "\e884";
}

.icon-zhaopian:before {
  content: "\e60e";
}

.icon-xitongguanli:before {
  content: "\e619";
}

